@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onDesktopXL {
  @media (min-width: 1440px) {
    @content;
  }
}
